
.panel-heading {
  font-family:Pacifico;
  text-shadow:
  -1px -1px 0 black,
  0px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  0px 1px 0 black,
  1px 1px 0 black;
}

.form-control {
  font-family: Montserrat;
}

li {
  font-family: Montserrat;
  list-style-type: none;

ul {
  text-decoration: none;
}
